@model Category

<h2>Edit Category</h2>

<form method="post">
    <label asp-for="Name" class=" pb-2"></label>
    <input asp-for="Name" class="form-control rounded shadow-none" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <label asp-for="Description" class="pb-2"></label>
    <textarea asp-for="Description" class="form-control rounded shadow-none" style="height: 7rem;"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <label asp-for="Billable" class=" pb-2"></label>
    <input type="checkbox" asp-for="Billable" class="" />
    <span asp-validation-for="Billable" class="text-danger"></span>
    <br />
    <label asp-for="Active" class=" pb-2"></label>
    <input type="checkbox" asp-for="Active" class="" />
    <span asp-validation-for="Active" class="text-danger"></span>
    <br />
    <label asp-for="VAT" class=" pb-2"></label>
    <input type="number" min="0" max="100" step="0.1" asp-for="VAT" class="" />
    <span asp-validation-for="VAT" class="text-danger"></span>
    <br />

    <button type="submit" class="btn btn-primary mt-3">Update Category</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary mt-3">Back to List</a>
</form>


@{
    <partial name="_ValidationScriptsPartial" />
}